
.inline-block-head{
    display: inline-flex;
    flex-direction: row;
    vertical-align: bottom;
    padding-inline: 50px;
    
}
.inline-block-foot{
    display: inline-flex;
    flex-direction: row;
    vertical-align: bottom;
    padding-inline: 50px;
    color: #F9F8F6;
}
.logo {
    display: flex;
    position: relative;
    flex-direction: row;
    vertical-align: left;
    padding-inline: 50px;
    padding-top: 1%;
}


.flex-container {
    display: flex;
    flex-direction: row;
    background-color: #F9F8F6;
    color: #3B937B;
    border-radius: 10px;
    padding-bottom: 2%;
    margin: auto;
    height: 90px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px #8888881d;
}

.flex-box {
    display: flex;
    flex-direction: row;
    color: #3B937B;
    padding-bottom: 1%;
    text-align: center;
}

h1 {
    color: #3B937B;
    text-decoration: none;
    text-align: center;
}

h6.a {
    color: #000000;
    text-decoration: none;
    text-align: justify;
}
h6#a {
    color: #000000;
    text-decoration: none;
    text-align: justify;
}

h6.b {
    color: #3B937B;
}

h6.c {
    color: #F9F8F6;
}
h3 {
    color: #86DFEF;
}
h3#x {
    color: #86DFEF;
}
h3#y {
    color: #86DFEF;
}

.hero {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-area: top1;
    place-items: center;
    z-index: 2;
    position: relative;
    padding-left: 50px;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
}

.heroimg {
    top: 0;
    display: grid;
    grid-template: 1fr / 1fr;
    grid-area: top2;
    padding-top: 200px;
    place-items: center;
    z-index: 1;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.content {
    display: grid;
    grid-area: top3;
    grid-template-columns: 800px;
    grid-template-rows: 700px;
    width: 100%;
    margin: 0px;
    text-align: center;
    justify-content: center;
    padding-top: 250px;
    padding-bottom: 1px;
}



button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 2%;
    border-radius: 10px;
    color: #F9F8F6 ;
    background-color:#3B937B;
    box-shadow: 5px 10px #888888;
}
a {
    color: #F9F8F6;
    text-decoration: none;
}
#child1button, #child2button, #child3button {
    display: inline-block;
    flex-direction: row;
    background-color: #CFD192;
    margin: auto;
    width: 305px;
    height: 305px;
    border-radius: 10px;
}

#child1buttonT, #child2buttonT, #child3buttonT {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: #CFD192;
    width: 305px;
    height: 305px;
    border-radius: 10px;
}

.p2 {
    font-family: 'Bad Script'; font-size: 20px;
    text-align: justify;
}

.inline-block1{
    display: flex;
    background: #F9F8F6;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: auto;
    
    padding-bottom: 2%;
    margin: auto;
    height: 90px;
    
    box-shadow: 5px 10px #8888881d;
}
.inline-block2{
    display: flex;
    background: linear-gradient(to right, #3B937B, #81C181, #86DFEF, #3B937B, #81C181);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: auto;
}

.flexContainer {
    display: flex;
    
}

.mySkillsBox, .myToolsBox {
    background-color: #F9F8F6;
    border-radius: 10px;
    box-shadow: 5px 10px #8888881d;
    padding-left: 3%;
}
.mySkillsTopHeader {
    text-align: center;
    color: #3B937B;
    background-color: #86DFEF;
    border-radius: 10px;
    box-shadow: 5px 10px #8888881d;
}
.child1 {
    text-align: center;
    width: 33%;
    margin: 1%;
    padding: 1%;
}
.child2 {
    text-align: center;
    width: 33%;
    margin: 1%;
    padding: 1%;
}
.child3 {
    text-align: center;
    width: 33%;
    margin: 1%;
    padding: 1%;
}
.myWorkHeader {
    text-align: center;
    color: #3B937B;
    background-color: #86DFEF;
    border-radius: 10px;
    box-shadow: 5px 10px #8888881d;
}

.work1 {
    grid-area: area1;
    border-radius: 10px;
    
}
.work1Para {
    grid-area: area1a;
}

.work2 {
    grid-area: area2; 
    border-radius: 10px;
    
}
.work2Para {
    grid-area: area2a;
}

.work3 {
    grid-area: area3;
    border-radius: 10px;
    
}
.work3Para {
    grid-area: area3a;
}


.workGrid {
    display: grid;
    grid-template-areas: 
    'area1 area1a'
    'area2 area2a'
    'area3 area3a';
    grid-gap: 40px;
    padding: 40px;
    padding-bottom: 100px;
    padding-top: 10px;
    
}
.headerGrid {
    display: column;
    grid-template-areas:
    'top1'
    'top2';
    
    padding-bottom: 200px;
    padding-top: 5px;
}

@media only screen and (max-width: 600px) {
    .inline-block-head{
        display: flex;
        flex-direction: column;
        vertical-align: bottom;
        padding-inline: 50px;
        
    }
    .inline-block-foot{
        display: flex;
        flex-direction: column;
        vertical-align: bottom;
        padding-inline: 50px;
        color: #F9F8F6;
    }
    .logo {
        display: flex;
        position: relative;
        flex-direction: column;
        vertical-align: left;
        padding-inline: 50px;
        padding-top: 1%;
    }
    
    
.hero {
    font-size: 30px;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    z-index: 2;
    position: relative;
    padding-left: 50px;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
}

.heroimg {
    top: 0;
    display: grid;
    grid-template: 1fr / 1fr;
    padding-top: 200px;
    place-items: center;
    z-index: 1;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50%;
}

.content {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 500px;
    width: 100%;
    margin: 0px;
    text-align: center;
    justify-content: center;
    padding-top: 250px;
    padding-bottom: 300px;
}
    
    
    .flex-container {
        display: flex;
        flex-direction: column;
        background-color: #F9F8F6;
        color: #3B937B;
        border-radius: 10px;
        padding-bottom: 2%;
        margin: auto;
        height: 90px;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 10px #8888881d;
    }
    
    .flex-box {
        display: flex;
        flex-direction: row;
        color: #3B937B;
        padding-bottom: 1%;
        text-align: center;
    }
    
    .flexContainer {
        flex-direction: column;
    }
    .child1 {
        text-align: center;
        width: 100%;
        margin: 1%;
        padding: 1%;
    }
    .child2 {
        text-align: center;
        width: 100%;
        margin: 1%;
        padding: 1%;
    }
    .child3 {
        text-align: center;
        width: 100%;
        margin: 1%;
        padding: 1%;
    }
    .work1 {
        grid-area: area1;
        border-radius: 10px;
        
    }
    .work1Para {
        grid-area: area1a;
    }
    
    .work2 {
        grid-area: area2; 
        border-radius: 10px;
        
    }
    .work2Para {
        grid-area: area2a;
    }
    
    .work3 {
        grid-area: area3;
        border-radius: 10px;
        
    }
    .work3Para {
        grid-area: area3a;
    }
    
    
    .workGrid {
        display: grid;
        grid-template-areas: 
        'area1' 
        'area1a'
        'area2'
        'area2a'
        'area3' 
        'area3a';
        grid-gap: 40px;
        padding: 40px;
        padding-bottom: 100px;
        padding-top: 10px;
        
    }
}