
:root {
    --nav-color: #F9F8F6;
    --nav-text: #3B937B;
    --hover-color: #86DFEF;
    --nav-footer-color: linear-gradient(to right, #3B937B, #81C181, #86DFEF, #3B937B, #81C181);
  }
.container {
    top: 5%;
    font-size: 1.2rem;
    font-family: 'Gotu';
    font-size: 19px;
    height: 90px;
}
.container_footer {
    background: var(--nav-footer-color);
    font-size: 1.2rem;
    font-family: 'Gotu';
    font-size: 19px;
    height: 120px;
    border-radius: 10px;
}
.navbar {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
.navbar ul {
    display: flex;
}
.container .container_footer .navbar {
    justify-content: space-evenly 50px;
}
.navbar ul li {
    list-style-type: none;
}
  
.container .container_footer .navbar ul li {
    padding: 10px;
    margin: 0 10px;
}
  
.navbar a {
    color: var(--nav-text);
    font-weight: none;
}
  
.navbar a:hover {
    color: var(--hover-color);
}

ul {
    display: flex;
}
.inline-block-head{
    display: inline-flex;
    flex-direction: row;
    vertical-align: bottom;
    padding-inline: 50px;
    
}
.inline-block-foot{
    display: inline-flex;
    flex-direction: row;
    vertical-align: bottom;
    padding-inline: 50px;
    color: #F9F8F6;
}
.logo {
    display: flex;
    position: relative;
    flex-direction: row;
    vertical-align: left;
    padding-inline: 50px;
    padding-top: 1%;
}


.flex-container {
    display: flex;
    flex-direction: inline-flex;
    background-color: #F9F8F6;
    color: #3B937B;
    border-radius: 10px;
    padding-bottom: 2%;
    margin: auto;
    height: 90px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px #8888881d;
}

.flex-box {
    display: flex;

    flex-direction: row;
    color: #3B937B;
    padding-bottom: 1%;
    text-align: center;
}

h1 {
    color: #3B937B;
    text-decoration: none;
    text-align: center;
}
h1#contact {
    color: #3B937B;
    text-decoration: none;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 0px;
}
h6.a {
    color: #000000;
    text-decoration: none;
    text-align: justify;
}
h6#a {
    color: #000000;
    text-decoration: none;
    text-align: justify;
}

h6.b {
    color: #3B937B;
}

h6.c {
    color: #F9F8F6;
}
h3 {
    color: #86DFEF;
}
h3#z {
    color: #3B937B;
}
h3#x {
    color: #86DFEF;
}
h3#y {
    color: #86DFEF;
}
.nav-item {
    font-family: 'Gotu';
    font-size: 19px;
    color: #3B937B;
}
a.nav-link {
    color: #3B937B;
}

.card-img {
    border-radius: 20px;
    width: 750px;
    height: 400px;
}

.heroimg {
    
    display: flex;
    padding-top: 500px;
    align-items: center;
    margin: 0;
    width: auto;
}

#content {
    display: flex;
    width: 100%;
    margin: 0px;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}



button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 2%;
    border-radius: 10px;
    color: #F9F8F6 ;
    background-color:#3B937B;
    box-shadow: 5px 10px #888888;
}
a {
    color: #F9F8F6;
    text-decoration: none;
}
a:hover {
    color: #81C181;
    text-decoration: none;
}
a:active{
    color:#86DFEF;
}
#child1button, #child2button, #child3button {
    display: inline-block;
    flex-direction: row;
    background-color: #CFD192;
    margin: auto;
    width: 305px;
    height: 305px;
    border-radius: 10px;
}

#child1buttonT, #child2buttonT, #child3buttonT {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: #CFD192;
    width: 305px;
    height: 305px;
    border-radius: 10px;
}

.p2 {
    font-family: 'Bad Script'; font-size: 20px;
    text-align: justify;
}
.inline-block1{
    display: flex;
    background: #F9F8F6;
    box-shadow: 5px 10px #8888881d;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: auto;
}

.inline-block2{
    display: flex;
    background: linear-gradient(to right, #3B937B, #81C181, #86DFEF, #3B937B, #81C181);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: auto;
}

.flexContainer {
    display: flex;
    
}
.container-fluid {
    justify-content: center;
}
.card {
    align-items: center;
    justify-content: center;
    border: 0px;
}
.row {
    margin: 100px;
}
.cardContainer {
    justify-content: center;
}
.mySkills .myToolsBox {
    display: grid;
}
.mySkillsBox, .myToolsBox {
    background-color: #F9F8F6;
    border-radius: 10px;
    box-shadow: 5px 10px #8888881d;
    padding-left: 3%;
    margin: 50px;
}
.mySkillsTopHeader {
    text-align: center;
    color: #3B937B;
    background-color: #86DFEF;
    border-radius: 10px;
    box-shadow: 5px 10px #8888881d;
    padding-top: 1%;
    margin: 50px;
}
.child1 {
    text-align: center;
    width: 33%;
    margin: 1%;
    padding: 1%;
}
.child2 {
    text-align: center;
    width: 33%;
    margin: 1%;
    padding: 1%;
}
.child3 {
    text-align: center;
    width: 33%;
    margin: 1%;
    padding: 1%;
}
.myWorkHeader {
    text-align: center;
    color: #3B937B;
    background-color: #86DFEF;
    border-radius: 10px;
    box-shadow: 5px 10px #8888881d;
    margin: 50px;
}

.work1 {
    grid-area: area1;
    border-radius: 10px;
    
}
.work1Para {
    grid-area: area1a;
}

.work2 {
    grid-area: area2; 
    border-radius: 10px;
    
}
.work2Para {
    grid-area: area2a;
}

.work3 {
    grid-area: area3;
    border-radius: 10px;
    
}
.work3Para {
    grid-area: area3a;
}


.workGrid {
    display: grid;
    grid-template-areas: 
    'area1 area1a'
    'area2 area2a'
    'area3 area3a';
    grid-gap: 40px;
    padding: 40px;
    padding-bottom: 100px;
    padding-top: 10px;
    background: rgb(136, 136, 136, .1);
    border-radius: 20px;
}

#myContact {
    background-color: #86DFEF;
    border-radius: 10px;
    box-shadow: 5px 10px #8888881d;
    
    padding-bottom: 10px;
    margin: 30px;
}
.myContactInfo {
    margin: 50px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 10px;
}
.myContactBlock {
    margin-top: 25px;
    padding: 0%;
    
    
}
@media only screen and (min-width: 600px){
    .container .container_footer {
          height: 100%;
        }
      
        .container .container_footer .navbar {
          flex-direction: column;
        }
        
    .heroimg {
            
            display: flex;
            flex-direction: column;
            padding-top: 150px;
            place-items: center;
            justify-content: center;
            align-items: center;
            margin: 0;
            
        }
        
        
        .flexContainer {
            flex-direction: column;
        }
        .child1 {
            text-align: center;
            width: 100%;
            margin: 1%;
            padding: 1%;
        }
        .child2 {
            text-align: center;
            width: 100%;
            margin: 1%;
            padding: 1%;
        }
        .child3 {
            text-align: center;
            width: 100%;
            margin: 1%;
            padding: 1%;
        }
        .work1 {
            grid-area: area1;
            border-radius: 10px;
            
        }
        .work1Para {
            grid-area: area1a;
        }
        
        .work2 {
            grid-area: area2; 
            border-radius: 10px;
            
        }
        .work2Para {
            grid-area: area2a;
        }
        
        .work3 {
            grid-area: area3;
            border-radius: 10px;
            
        }
        .work3Para {
            grid-area: area3a;
        }
        
        
        .workGrid {
            display: grid;
            grid-template-areas: 
            'area1' 
            'area1a'
            'area2'
            'area2a'
            'area3' 
            'area3a';
            grid-gap: 40px;
            padding: 40px;
            padding-bottom: 100px;
            padding-top: 10px;
            
        }
    }

